/* Swiper */
.swiper-pagination-bullet-active {
  background: white !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet {
  width: 18px;
  height: 18px;
  background: #ffffff00;
  border: 2px solid white;
  margin: 0px 8px;
  opacity: 1;
  transition: 0.2s ease-out !important;
}
.swiper-button-disabled {
  opacity: 0.5;
  cursor: default !important;
}
.swiper-button-next, .swiper-button-prev {
  display: none !important;
}